version: "3.9"
services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-billing}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-billing}
      POSTGRES_DB: ${POSTGRES_DB:-billing}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 5s
      timeout: 5s
      retries: 10

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER:-billing}:${POSTGRES_PASSWORD:-billing}@postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-billing}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}
      API_PORT: ${API_PORT:-8080}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
      STRIPE_WEBHOOK_SECRET: ${STRIPE_WEBHOOK_SECRET}
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER:-billing}:${POSTGRES_PASSWORD:-billing}@postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-billing}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}
      PROM_PORT: ${PROM_PORT_WORKER:-9103}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started

  celery-beat:
    build:
      context: ./worker
      dockerfile: Dockerfile
    command: ["celery","-A","app.celery_app:celery_app","beat","-l","info"]
    environment:
      DATABASE_URL: postgresql+asyncpg://${POSTGRES_USER:-billing}:${POSTGRES_PASSWORD:-billing}@postgres:${POSTGRES_PORT:-5432}/${POSTGRES_DB:-billing}
      REDIS_URL: ${REDIS_URL:-redis://redis:6379/0}
      STRIPE_SECRET_KEY: ${STRIPE_SECRET_KEY}
    depends_on:
      - worker

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - api
      - worker

  grafana:
    image: grafana/grafana:11.1.3
    environment:
      GF_SECURITY_ADMIN_PASSWORD: admin
    volumes:
      - grafana_data:/var/lib/grafana
      - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
    ports:
      - "3000:3000"
    depends_on:
      - prometheus

  web:
    image: node:20-alpine
    working_dir: /app
    environment:
      - VITE_API_BASE=http://api:8080
    volumes:
      - ./web:/app
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"
    depends_on:
      - api

volumes:
  pgdata:
  grafana_data:
